<div class="container">
    <div class="row">
      <div class="col">
        <div>
          {{iDeLista+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
        </div>
        <ul style="list-style: none;">
            <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
        <app-caracteristicas-empleado (caracteristicaEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
      </div>
    </div>
  </div>
